:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
  padding-left:0;
}

a {
  text-decoration: none; /* Removing the underline from a link */
  }

 li {
  list-style-type: none; /* Deselecting markers from a list */
  display: list-item;
    }

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #FFFFFF;
  display: block;
  letter-spacing: 0.02em;
}

p {
  font-style: normal;
  font-weight: 400;
}

header {
  background: #FFF;
  border-bottom: 1px solid #e7e9fc;
  height: 73px;
  padding: 72px; 
  display: block;
  text-align: left;
}

.order, footer {
  background: #2E2F42;
}

.team {
  background: #F4F4FD;
}

.container {
  width: 1158px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Header-Web page header*/

.header {
  border-bottom: 1px solid var(--color-cornflower);
  display: flex;
}

.header-container, container {
  display: flex;
  align-items: center;
  height: 72px;
  margin-top: 0px;
  margin-right: 252.5px;
  margin-bottom: 0px;
  margin-left: 255.5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;

}

.header-navigation {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  margin-right: 76px;
}

.menu-nav {
display: inline-flex;
align-items: flex-start;
gap: 40px;

}

.navigation .container .link-page {
  width: 71px;
  height: 21px;
  display: flex;
  height: 72px; 
  justify-content: center;
  flex-shrink: 0;

}
.header-logo-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  
}

.header-logo-web:hover, .header_logo-web:focus {
  color: #404bbf;
}

.logo-studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.webpage {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.webpage studio {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.webpage portfolio {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.webpage contacts {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.webpage:hover, .webpage:focus {
  color: #404bbf;
}

.link  {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link {
  display: list-item;
  text-align: -webkit-match-parent;
  gap: 40px;
}

.link:hover, .link:focus {
  color: #404bbf;
}

.link_page {
  font-style: normal;
  display: flex;
}

/*Section 1-Order Service*/

.order {
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-order {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}

.button {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  background: #4D5AE5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.button:hover, .button:focus {
  color: #FFF;
  background-color: #404BBF;
}

/*Section 2-Section busines*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new {
  padding-top: 120px;
  padding-bottom: 120px;
}

.new-list {
  display: flex;
  gap: 24px;
  margin-right: 24px;

}
.new-list .title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  width: calc((100% - 72px)/4);
}

.new-list .text {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*Section 3-Section busines our Team*/
.team {
    background-color: #F4F4FD;
    padding-top: 120px; 
    padding-bottom: 120px;
  }

  .our-team-all {
    display: flex;
    gap: 24px;
    margin-right: 24px;
  }

.our-team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    background-color: #FFFFFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.team-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-images title {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list .title {
    color: #2e2f42;
    text-align: center;   
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;   
    letter-spacing: 0.02em;
}

.our-team-list .text {
    color: #434455;
    text-align: center;   
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    text-align: center;
}

/*Section 4-Section busines our Portfolio*/

.our-portfolio-all {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-list {
  display:flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px
}

.portfolio-images-img {
  width: calc((100% - 48px)/3);
}

.portfolio-images {
display: flex;
width: 360px;
height: 420px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}

.our-portfolio-list .title {
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-list .text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

    /*Footer - bottom of the web page*/

.foot {
  padding-top: 100px;
  padding-bottom: 100px;
}

.logoweb-alow {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.logostudio-alow {
  color: #F4F4FD;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.text-alow {
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}